body {
    background: url(scary-haunted-house-alley-ai-generated-free-photo.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   }